$duration: 2000ms;
$range: 500px;

.container {
  --range: #{$range};
  --duration: #{$duration};
}

.animated {
  transition: left var(--duration) linear, transform var(--duration) linear, opacity (calc(var(--duration) * 2)) linear;
}

.boxAFinal {
  left: var(--range);
}

.boxBFinal {
  transform: translate3d(var(--range), 0, 0);
}

.initial {
  left: 0;
}

.extraElements {
  display: flex;
  flex-wrap: wrap;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: red;
  }
  span {
    display: block;
    text-align: center;
  }
}

.config {
  padding: 25px;
  background-color: #efefef;
  margin-bottom: 10px;

  li {
    margin: 10px 0;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input {
    width: 200px;
    margin-right: 10px;
  }
}
