.container {
  background-color: purple;
  padding: 20px;
}

.box {
  position: relative;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: red;
}

.triggers {
  padding: 25px 0;

  button {
    margin: 0 10px 0 0;
  }
}
