$box-size: 160px;
$padding: 25px;

.container {
  background-color: #F0F0F0;
  padding: $padding;

  h2 {
    font-size: 26px;
    font-weight: bold;
  }

  p {
    margin-top: 12px;
    margin-bottom: 18px;
    font-size: 16px;
  }
}

.boxes {
  display: block;
  position: relative;
}

.overlap {
  .track {
    &:nth-child(2) {
      transform: translateY(calc(-10px -100%));
    }
  }
}

.track {
  background-color: rgba(0, 0, 0, 0.035);
  transition: transform 0.3s ease-out;

  &:nth-child(2) {
    margin-top: 10px;
  }
}

.boxA, .boxB {
  width: $box-size;
  height: $box-size;
  background-color: #2881e0;
  position: relative;
  left: 0;
  margin-left: 0;
}

.boxB {
  background-color: #d63f10;
}

.triggers {
  padding: 25px 0;

  button {
    margin: 0 10px 0 0;
  }
}
